<div class="fashion_section">
  <div id="main_slider" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container">
          <h1 class="fashion_taital">Man & Woman Fashion</h1>
          <div class="fashion_section_2">
            <owl-carousel-o [options]="customOptions">
              <ng-template carouselSlide>
                <app-product [image]="'../../../../assets/a.png'"></app-product>
              </ng-template>
              <ng-template carouselSlide>
                <app-product [image]="'https://forum.languagetool.org/uploads/db7402/original/2X/b/b2434de681bd2855173ab75bdc3fb3666b920e9a.png'"></app-product>
              </ng-template>
              <ng-template carouselSlide>
                <app-product [image]="'https://i.morioh.com/210319/4edc9639.webp'"></app-product>
              </ng-template>
              <ng-template carouselSlide>
               <app-product [image]="'../../../../assets/a.png'"></app-product>
             </ng-template>
             <ng-template carouselSlide>
               <app-product [image]="'https://forum.languagetool.org/uploads/db7402/original/2X/b/b2434de681bd2855173ab75bdc3fb3666b920e9a.png'"></app-product>
             </ng-template>
             <ng-template carouselSlide>
               <app-product [image]="'https://i.morioh.com/210319/4edc9639.webp'"></app-product>
             </ng-template>
             <ng-template carouselSlide>
               <app-product [image]="'../../../../assets/a.png'"></app-product>
             </ng-template>
             <ng-template carouselSlide>
               <app-product [image]="'https://forum.languagetool.org/uploads/db7402/original/2X/b/b2434de681bd2855173ab75bdc3fb3666b920e9a.png'"></app-product>
             </ng-template>
             <ng-template carouselSlide>
               <app-product [image]="'https://i.morioh.com/210319/4edc9639.webp'"></app-product>
             </ng-template>
            </owl-carousel-o>
          </div>
          <!-- <div class="fashion_section_2">
            <div class="row">
              <div class="col-lg-4 col-sm-4">
                <div class="box_main">
                  <h4 class="shirt_text">Man T -shirt</h4>
                  <p class="price_text">
                    Price <span style="color: #262626">$ 30</span>
                  </p>
                  <div class="tshirt_img">
                    <img src="../../../../assets/a.png" />
                  </div>
                  <div class="btn_main">
                    <div class="buy_bt"><a href="#">Buy Now</a></div>
                    <div class="seemore_bt"><a href="#">See More</a></div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-4">
                <div class="box_main">
                  <h4 class="shirt_text">Man -shirt</h4>
                  <p class="price_text">
                    Price <span style="color: #262626">$ 30</span>
                  </p>
                  <div class="tshirt_img">
                    <img
                      src="https://forum.languagetool.org/uploads/db7402/original/2X/b/b2434de681bd2855173ab75bdc3fb3666b920e9a.png"
                    />
                  </div>
                  <div class="btn_main">
                    <div class="buy_bt"><a href="#">Buy Now</a></div>
                    <div class="seemore_bt"><a href="#">See More</a></div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-4">
                <div class="box_main">
                  <h4 class="shirt_text">Woman Scart</h4>
                  <p class="price_text">
                    Price <span style="color: #262626">$ 30</span>
                  </p>
                  <div class="tshirt_img">
                    <img src="../../../../assets/a.png" />
                  </div>
                  <div class="btn_main">
                    <div class="buy_bt"><a href="#">Buy Now</a></div>
                    <div class="seemore_bt"><a href="#">See More</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
        </div>
      </div>
      <!-- <div class="carousel-item">
        <div class="container">
          <h1 class="fashion_taital">Man & Woman Fashion</h1>
          <div class="fashion_section_2">
            <div class="row">
              <div class="col-lg-4 col-sm-4">
                <div class="box_main">
                  <h4 class="shirt_text">Man T -shirt</h4>
                  <p class="price_text">
                    Price <span style="color: #262626">$ 30</span>
                  </p>
                  <div class="tshirt_img">
                    <img src="images/tshirt-img.png" />
                  </div>
                  <div class="btn_main">
                    <div class="buy_bt"><a href="#">Buy Now</a></div>
                    <div class="seemore_bt"><a href="#">See More</a></div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-4">
                <div class="box_main">
                  <h4 class="shirt_text">Man -shirt</h4>
                  <p class="price_text">
                    Price <span style="color: #262626">$ 30</span>
                  </p>
                  <div class="tshirt_img">
                    <img src="images/dress-shirt-img.png" />
                  </div>
                  <div class="btn_main">
                    <div class="buy_bt"><a href="#">Buy Now</a></div>
                    <div class="seemore_bt"><a href="#">See More</a></div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-4">
                <div class="box_main">
                  <h4 class="shirt_text">Woman Scart</h4>
                  <p class="price_text">
                    Price <span style="color: #262626">$ 30</span>
                  </p>
                  <div class="tshirt_img">
                    <img src="images/women-clothes-img.png" />
                  </div>
                  <div class="btn_main">
                    <div class="buy_bt"><a href="#">Buy Now</a></div>
                    <div class="seemore_bt"><a href="#">See More</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container">
          <h1 class="fashion_taital">Man & Woman Fashion</h1>
          <div class="fashion_section_2">
            <div class="row">
              <div class="col-lg-4 col-sm-4">
                <div class="box_main">
                  <h4 class="shirt_text">Man T -shirt</h4>
                  <p class="price_text">
                    Price <span style="color: #262626">$ 30</span>
                  </p>
                  <div class="tshirt_img">
                    <img src="images/tshirt-img.png" />
                  </div>
                  <div class="btn_main">
                    <div class="buy_bt"><a href="#">Buy Now</a></div>
                    <div class="seemore_bt"><a href="#">See More</a></div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-4">
                <div class="box_main">
                  <h4 class="shirt_text">Man -shirt</h4>
                  <p class="price_text">
                    Price <span style="color: #262626">$ 30</span>
                  </p>
                  <div class="tshirt_img">
                    <img src="images/dress-shirt-img.png" />
                  </div>
                  <div class="btn_main">
                    <div class="buy_bt"><a href="#">Buy Now</a></div>
                    <div class="seemore_bt"><a href="#">See More</a></div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-4">
                <div class="box_main">
                  <h4 class="shirt_text">Woman Scart</h4>
                  <p class="price_text">
                    Price <span style="color: #262626">$ 30</span>
                  </p>
                  <div class="tshirt_img">
                    <img src="images/women-clothes-img.png" />
                  </div>
                  <div class="btn_main">
                    <div class="buy_bt"><a href="#">Buy Now</a></div>
                    <div class="seemore_bt"><a href="#">See More</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>

  </div>
</div>
